# macOS
.DS_Store
**/.DS_Store

# Visual Studio
.vs/
**/.vs/

# Build
build/
**/build/

# Fichiers intermédiaires C/C++
*.obj
*.pch
*.ipch
*.pdb
*.exp
*.lib

# Base de données Visual Studio
*.VC.db
*.VC.opendb

# DLL générées par la compilation
Projet 3 - FlipResetDetector/plugins/*.dll
